In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('vgsales.csv')
# returns data frame object which is like an excel spreadsheet
# yeh df likhne se inspect hoga

# print(df.to_string()) 
# use to_string() to print the entire DataFrame.

print(pd.options.display.max_rows) 
# In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.
# You can change the maximum rows number with the same statement

# df

KeyboardInterrupt:

In [36]:
df.shape

(16598, 11)

In [37]:
df.describe()
# basic info about each NUMERICAL column in the data set

# yaha rank has more records than year i.e. thode records me year hai hi nahi (null values)
# aise me cleaning ke time we usually give some default value ya aise incomplete vaalo ko hata dete hai

# The 25th percentile is the value below which 25% of the data falls.
# Calculation of Percentiles:
# Sort the data (if not already sorted): [10, 20, 30, 40, 50, 60, 70, 80]
# Find the 25th percentile:
# Locate the 25% position: 
# 25%×(n+1), where 
# n is the number of elements.
# 25%×(8+1)=2.25
# Interpolate between the 2nd and 3rd data points: 
# 20+0.25×(30−20)=22.5
# So, the 25th percentile for this dataset is 22.5.

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [2]:
# df.values
# returns 2d array - elements are rows in data set

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# row ko access karne ke liye index
# M1 - loc and iloc
# loc me agar ek hi number daala to refers to row
df.loc[1]
df.iloc[1, :]

# yaha to row and column dono ke indexing 0,1,2... to how does it decide ki column ya row
print(df[0:2]) 
# slicing a DataFrame using start:end without .loc or .iloc operates on the rows.

# so df[a:b] operates on rows but df[a] operates on columns

# column ko access karne ke liye column name
#M1 - perefer bracket bcs dot me if colname=patameter to prob aa sakta hai
age_column = df['Age'] 
# Returns a new DataFrame (not series bcs series me ek hi column) with only columns A and B
df[['A', 'B']]
#M2 - dot vaale me '' NAHI daalne
age_column = df.Age
# M3 - loc and iloc

TypeError: unhashable type: 'list'

In [ ]:
# loc me you can choose row/column based on their name
# iloc me you can choose row/column based on their index - but print to column name hi hoga dono cases me

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
# ek se zyada rows return karni ho to use 2 brackets 
# 1 bracket me vo i,j th element return karega
# but [[i,j]] me it will give ith and jth row (NOT ith to jth - TO ke liye we use : ) - bahar vaale [] ke liye [i,j] is 1st element and yaha ek hi element aur jab ek hi element in loc/iloc - it refers to rows
# yaha 3 fir 1 print hoga - how we specified bhale org me 1,3 hai
print(df.loc[["day3", "day1"]])
print(' ')
print(df.iloc[0, 1])
print(' ')

# in dono -single aur multiple rows ke method of printing dekh lena
print(df.iloc[0])
print(' ')
print(df.iloc[[0, 1]])
print(' ')

print(df.iloc["day1", 'calories'])
# print(df.iloc[0, 'calories']) - if index ='day1'... was not there
print(' ')
print(df.iloc[0:1, 0:2])
print(' ')
print(df.loc[0])
# this row is returned as a pandas series

# for column slicing i.e. to get a few columns
newdf.loc[[1,2],['C','D']]
# pehle bracket me kaunse rows chahiye aur doosre me kaunse columns 
# loc returns a new data frame - copy

#for all rows: same for columns
# : me bracket NAHI so - sirf : , NOT [:]
newdf.loc[:,['C','D']]
newdf.iloc[:,[2,3]]

# note: slicing me [a:b] me:
# loc-Inclusive BUT iloc-Exclusive

# You need loc/iloc to access a particular element,
df.at[0, 'A'] 
# o
df.iat[0, 0]

# prefer loc bcs yaha copy/view ka ho sakta hai and it might be copy sometimes to org dataframe me change nahi dikhega
df['Name'][0]='Jai'
df.loc['Name'][0]='Jai'

df['Name'] 
# yeh syntax se dataframe return hoga and not series - unlike loc

df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

      calories  duration
day1       420        50
day3       390        45

50

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [18]:
# saare columns ke liye
newdf.columns
# saare rows ke liye
newdf.index

# ya use loc

RangeIndex(start=0, stop=5, step=1)

In [ ]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [np.nan, 2, np.nan, 4, 5],
    'C': [1, 2, None, 4, 5]
}
df = pd.DataFrame(data)

df.info()

# it gives us data type and non null count of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       3 non-null      float64
 2   C       4 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 252.0 bytes

In [ ]:
dict1 = {
    "name": ['a','b','c','d'],
    "marks": [10,20,44,23],
    "city":['e','f','g','h']
}

# keys become columns and values become rows

df1 = pd.DataFrame(dict1)
# dataframe is like an excel sheet and we can use numpy
# df is rows and column and series is diff rows of same column
df1

dict1.['name']
df.['name']
# df me indexing bhi hoga
'''
['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object
'''

df.to_csv('friends.csv')
# excel file me convert

df.to_csv('friends2.csv',index=False)
# 0,1,2,3... nikal jaayega

  name  marks city
0    a     10    e
1    b     20    f
2    c     44    g
3    d     23    h

In [ ]:
df.head(2)
df['name'].head(2)
df[['name','marks']].head(2)
# start ke n rows
# if n>total rows to shows all rows (NOT ERROR)
# if no n then pehle 5 dikhayega
# For negative values of n, last |n| ko nikaal ke baaki ka return karega, equivalent to df[:n]

df.tail(2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [ ]:
ser = pd.Series(np.random.rand(34))
# ser
ser2 = pd.Series(x for x in range(1,11))
ser2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# doubt - index vaala not needed agar normal index chahiye
newdf = pd.DataFrame(np.random.rand(10,5),index=np.arange(2,11))
newdf

ValueError: Shape of passed values is (10, 5), indices imply (9, 5)

In [ ]:
type(ser)
type(newdf)

# it gives ki kaunse column me kaunsa data type (bcs har column ka same data type)
newdf.dtypes

# abhi it is possible ki numeric vaala column might have object data type, to uspe mean() and stuff NAHI laga sakte - so to check we can use dtypes
# Jab Nan values ko numbers me convert karna hai use float bcs type(np.nan) is float

# casting data type
# 1. No Nan - direct to int
df['age'] = df['age'].astype(int)
# 2. If nan - pehle fillnan fir to int YA conv to floats
df['age'] = df['age'].astype(float)

# poore df ke liye
df.astype(float)


# abhi if you do:
newdf[0][0]='jai'
newdf.dtypes
# now column1 ka data type becomes object as different data types in 1 column

C:\Users\voraj\AppData\Local\Temp\ipykernel_25788\819611522.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0]='jai'
C:\Users\voraj\AppData\Local\Temp\ipykernel_25788\819611522.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'jai' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0]='jai'

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [19]:
newdf.to_numpy()
# convert to numpy array

array([['jai', 0.8987070762472977, 0.11809491192131882,
        0.48970368576480927, 0.7021071653396315],
       [0.5602364037576205, 0.33169985744714936, 0.639556183528518,
        0.1025739564776591, 0.45781925654258726],
       [0.11920966694106083, 0.3709520771087744, 0.8516898190583134,
        0.9554118466150854, 0.6292243380806274],
       [0.09030544464332557, 0.11517224519628477, 0.14290720623925346,
        0.5455684667392982, 0.23992211284974618],
       [0.31174179476328734, 0.7297440230028405, 0.17598685117296753,
        0.020007744487270607, 0.8191069511371581],
       [0.6332386303082705, 0.4722920253077919, 0.42514264676721325,
        0.7076018294655303, 0.001918966761785379],
       [0.6648584561683468, 0.0694685060987208, 0.4471419381651116,
        0.23599338059867947, 0.0012309896941165022],
       [0.5600802115955038, 0.0948815651672128, 0.47629987445134214,
        0.5863269411060148, 0.21424828101359783],
       [0.8419731145214686, 0.07754335023509396, 0.6701051397135679,
        0.3280712905752967, 0.08773929456268448],
       [0.1370846843071093, 0.28965410162725924, 0.8821996310204374,
        0.9897881140634978, 0.8189961324992393]], dtype=object)

In [ ]:
# to take transpose
newdf.T

# swap two rows

#m1
# Swap rows 1 and 3 (indices 1 and 3)
temp = df.loc[1].copy()  # Temporarily store row 1
df.loc[1] = df.loc[3]    # Assign row 3 to row 1
df.loc[3] = temp         # Assign the stored row to row 3

#m2
df.iloc[[1, 3]] = df.iloc[[3, 1]].values
'''
This works because .values extracts the values as a NumPy array, preventing overlaps during the assignment. The swapping happens correctly.
This detaches the values from the original pandas DataFrame, ensuring the assignment operation does not involve overlapping or interdependent operations.
df.iloc[[3, 1]].values creates a "snapshot" of the data before the assignment.


When you write df.iloc[[1, 3]] = df.iloc[[3, 1]], pandas does the following:
Assigns df.iloc[3] to df.iloc[1].
Assigns df.iloc[1] (which is already modified) to df.iloc[3].
so it does not work
'''

'''
What .values Does: (can also use to_numpy())
For a DataFrame: Returns the entire data as a 2D NumPy array.
For a Series: Returns the data as a 1D NumPy array.
So useful jab koi func numpy arrays pe hi kaam karta ho
It can also be useful when performing advanced operations on the raw data (such as element-wise transformations) where you need the full flexibility of NumPy arrays.

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

NumPy array from .values:
[[1 4 7]
 [2 5 8]
 [3 6 9]]

'''

#m3
# Reorder the rows to swap rows 1 and 3
df = df.reindex([0, 3, 2, 1])

,0,1,2,3,4,5,6,7,8,9
0,jai,0.560236,0.11921,0.090305,0.311742,0.633239,0.664858,0.56008,0.841973,0.137085
1,0.898707,0.3317,0.370952,0.115172,0.729744,0.472292,0.069469,0.094882,0.077543,0.289654
2,0.118095,0.639556,0.85169,0.142907,0.175987,0.425143,0.447142,0.4763,0.670105,0.8822
3,0.489704,0.102574,0.955412,0.545568,0.020008,0.707602,0.235993,0.586327,0.328071,0.989788
4,0.702107,0.457819,0.629224,0.239922,0.819107,0.001919,0.001231,0.214248,0.087739,0.818996

In [21]:
# 1. sort acc to index
newdf.sort_index(axis=0,ascending=False,inplace=True)
# axis = 0 means rows
# axis = 1 means columns

# 2. sort acc to values
newdf_sorted = newdf.sort_values(by='A', axis=1)

df.sort_values(by=['last', 'first'], ascending=False)
# ek hi hai to ascending=False applies globally to all columns.
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
# The secondary sorting only applies to the rows that have equal values in the primary column.
# ie last ke hisab se sorting hoga and if values come to be same, first dekho
# agar secondary order nahi diya to pandas retains the relative order of those rows as they appear in the DataFrame (based on the original index order)

# firse org vaala chahiye to:
newdf.sort_index(axis=0,ascending=False,inplace=True)


df['last'].sort_values()

          0         1         2         3         4
9  0.137085  0.289654  0.882200  0.989788  0.818996
8  0.841973  0.077543  0.670105  0.328071  0.087739
7   0.56008  0.094882  0.476300  0.586327  0.214248
6  0.664858  0.069469  0.447142  0.235993  0.001231
5  0.633239  0.472292  0.425143  0.707602  0.001919
4  0.311742  0.729744  0.175987  0.020008  0.819107
3  0.090305  0.115172  0.142907  0.545568  0.239922
2   0.11921  0.370952  0.851690  0.955412  0.629224
1  0.560236  0.331700  0.639556  0.102574  0.457819
0       jai  0.898707  0.118095  0.489704  0.702107

In [ ]:
df['ConvertedComp'].nlargest(10)
# nlargest baadme (column pe nlargest lagane se) se series return hoga
# isse sirf top 10 salaries return honge NOT the other values
df.nlargest(10, 'ConvertedComp')
# nlargest pehle se - dataframe return hoga - so ypu get all info along with the saleries

df.nsmallest(10, 'ConvertedComp')

In [ ]:
# set index se hum column name se hum loc use kar sakte hai

df.set_index('email', inplace=True)

'''
    first	last	email
0	Corey	Schafer	CoreyMSchafer@gmail.com
1	Jane	Doe	JaneDoe@email.com
2	John	Doe	JohnDoe@email.com


email                   first	last
CoreyMSchafer@gmail.com	Corey	Schafer
JaneDoe@email.com	    Jane	Doe
JohnDoe@email.com	    John	Doe
'''

# direct loading ke time also you can set index
# df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')

#fir se numbers org chahiye as index
newdf.reset_index()
# neeche vaala when drop kiya ho tab use upar to we need that column to come back
#this adds another column called index which contains original indices. Agar vo nahi chahiye to:
newdf.reset_index(drop=True,inplace=True)


# set index se hum particular column ko index banake, ROWS vaale indexes/headings control karte hai
# to control column vaale indexes/headings:


df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Renaming columns
# M1
df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'}, inplace=True)
print(df)

# M2
newdf.columns = list("ABC")
# ya
newdf.columns = ['user_id', 'full_name', 'residence']

# M3
df.columns.values[0] = "user_id"
df.columns.values[1] = "full_name"
df.columns.values[2] = "residence"
df.columns.values[3] = "birthdate"

In [22]:
newdf2 = newdf
# this is view NOT copy ... so changes in either will change in BOTH

# for copy
newdf2=newdf[:]
#OR
newdf2=newdf.copy()

In [ ]:
# rather than directly setting value use loc
# loc ke [row name, column name] NOT row and column indices
# so vo list vaale me it will be newdf.loc[0,'A']=500

# here org 11 karke column DNE, to it will create a column 11 and baaki ke values will be NaN
newdf.loc[0,11]=500
print(newdf.loc[0])
# loc me agar ek hi paramter pass kiya to it will be the row name

#Another way to create a column
newdf[11] = None  # Add a new column
newdf.loc[0, 11] = 500

df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})
# Adding a new column with a list of values
df['Salary'] = [50000, 60000, 70000]

# Renaming columns
df.columns = ['first_name', 'last_name', 'email']
# isse column ke headings me farak padega NOT whole column
df.columns = [x.lower() for x in df.columns]
# df['email'] = df['email'].str.lower()
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df.columns = df.columns.str.replace(' ','_')

         0         1         2         3         4     11
0       jai  0.898707  0.118095  0.489704  0.702107   500
1  0.560236  0.331700  0.639556  0.102574  0.457819  None
2   0.11921  0.370952  0.851690  0.955412  0.629224  None
3  0.090305  0.115172  0.142907  0.545568  0.239922  None
4  0.311742  0.729744  0.175987  0.020008  0.819107  None
5  0.633239  0.472292  0.425143  0.707602  0.001919  None
6  0.664858  0.069469  0.447142  0.235993  0.001231  None
7   0.56008  0.094882  0.476300  0.586327  0.214248  None
8  0.841973  0.077543  0.670105  0.328071  0.087739  None
9  0.137085  0.289654  0.882200  0.989788  0.818996  None

In [ ]:
# Filtering data


filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt,'Name']

'''
na=False:
If a value in the column is NaN (missing), it would normally result in a NaN in the output.
By setting na=False, any NaN values in the column are treated as if they do not contain the substring, and False is returned for those rows.

filt me boolean series is stored NOT all the rows which contain python

Respondent
1         True
2         True
'''

filt = (df['last'] == 'Schafer')
'''
0         True
1         True
'''
# this also gives series object with true values NOT a dataframe with obj that meet our criteria
# so now we have to apply this to our dataframe
# true/false abhi correspond to our rows
# this means ki jaha jaha False hai, un rows ka
# usually loc me hum names/labels use karte hai BUT YOU CAN ALSO USE LOC WITH FILTERS
df.loc[~filt, 'email']
#ya - both eqv
df[filt]
df[df['last'] == 'Schafer']
# after this dataframe is retured (filt vala series print NAHI hoga)


filt = (df['last'] == 'Schafer') | (df['first'] == 'John')


#another eg
high_salary = (df['Converted']>7000)
df.loc[high_salary,['Country','Lang']]
# abhi agar in countries ka hi result chahiye - to loc me you can type list -doubt
# to we might do filter ki if country==us || country==uk and aise ek ek karke 
countries = ['us','uk','ind']
filt = df.['Country'].isin(countries)
df.loc[filt,'Country']


# saare emails ko lowercase karne
df['email'] = df['email'].str.lower()
df['email'] = df['email'].apply(lambda x: x.lower())
df['email'].apply(len)

len(df['email'])

df.apply(len)

'''
df.apply(len, axis='columns') - default is rows
isse len vaala series pe lagega (NOT on whole df) so we will know ki har series me kitne elements

0    3
1    3
2    3
dtype: int64

columns se vo row wise dekhega i.e. indices are of rows
AND vice versa - doubt why??
'''


# apply - series and dataframe
def update_email(email):
    return email.upper()
df['email'].apply(update_email)
# sirf apply se series return hogi so do df[email] = ...

df.apply(pd.Series.min)
'''
Har series ka min element dega
first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object
'''
df.apply(lambda x: x.min())
# lambda works on series obj


#map - series
# used to replace values in series with other values
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})
df['Hobby'] = df['Hobby'].map({'Y':'T','N':'F'})
# agar subs nai kiye to org names NAHI rahenge aur vo Nan me convert ho jaayega.
# to prevent, use replace


#applymap - only on df
# upar apply on df applies on series and... but series applies on har value - applymap me every element of df
df.applymap(len)
# df retruns with har element pe len lagega
df.applymap(str.lower)




# replace
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [52]:
people = {
    'first': ['Corey', 'Jane', 'John'], 
    'last': ['Schafer', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}
df = pd.DataFrame(people)

# yeh karne se naya column bhi add ho jaayega
df['full_name'] = df['first'] + ' ' + df['last']
'''
	first	last	email	                full_name
0	Corey	Schafer	CoreyMSchafer@gmail.com	Corey Schafer
1	Jane	Doe	    JaneDoe@email.com	    Jane Doe
2	John	Doe	    JohnDoe@email.com	    John Doe
'''

#to drop column
df.drop(columns=['first', 'last'], inplace=True)
df = df.drop(columns=['first']).reset_index(drop=True)
#to drop row
df.drop(index=4)
'''
email	full_name
0	CoreyMSchafer@gmail.com	Corey Schafer
1	JaneDoe@email.com	Jane Doe
2	JohnDoe@email.com	John Doe
'''


# df['full_name'].str.split(' ') se we get split karke a list
# 0 [fname,lname]
# 1 [fname,lname] ... vaise
df['full_name'].str.split(' ', expand=True)
# expand=True se we assign this list in 2 different columns
# isse ek df return hoga aur neeche assignment kiya
'''
        0	1
0	Corey	Schafer
1	Jane	Doe
2	John	Doe
'''

df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)
'''
email	full_name	first	last
0	CoreyMSchafer@gmail.com	Corey Schafer	Corey	Schafer
1	JaneDoe@email.com	Jane Doe	Jane	Doe
2	JohnDoe@email.com	John Doe	John	Doe
'''

filt = df['last'] == 'Doe'
df.drop(index=df[filt].index)
# df[filt].index me it gives index of rows jispe filter lage
# ie vo rows drop kar do jaha last name = Doe ho
'''
email	full_name	first	last
0	CoreyMSchafer@gmail.com	Corey Schafer	Corey	Schafer
1	JaneDoe@email.com	Jane Doe	Jane	Doe
2	JohnDoe@email.com	John Doe	John	Doe
3	IronMan@avenge.com	NaN	Tony	Stark
4	Cap@avenge.com	NaN	Steve	Roger

email	full_name	first	last
0	CoreyMSchafer@gmail.com	Corey Schafer	Corey	Schafer
3	IronMan@avenge.com	NaN	Tony	Stark
4	Cap@avenge.com	NaN	Steve	Rogers
'''


#append

#1. Append a Dictionary
df.append({'first': 'Tony'}, ignore_index=True)
df_new = df.append({'first': 'Tony', 'last': 'Stark'}, ignore_index=True)
'''
email	full_name	first	last
0	CoreyMSchafer@gmail.com	Corey Schafer	Corey	Schafer
1	JaneDoe@email.com	Jane Doe	Jane	Doe
2	JohnDoe@email.com	John Doe	John	Doe
3	NaN	                NaN     	Tony	NaN

agar ignore_index=False to
   first      last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe
0   Tony      NaN
'''

'''
df.append(other, ignore_index=False, verify_integrity=False, sort=False)

other: The data to append.
Can be another DataFrame, Series, or dictionary-like object.

ignore_index (default: False):
If True, a new sequential index is assigned to the resulting DataFrame, ignoring the index of other.

verify_integrity (default: False):
If True, raises a ValueError if the index of other contains duplicates.

sort (default: False):
If True, sorts columns if the columns in other differ from the columns in the original DataFrame.'''

# 2. Append Another DataFrame
people = {
    'first': ['Tony', 'Steve'], 
    'last': ['Stark', 'Rogers'], 
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}
df2 = pd.DataFrame(people)
df.append(df2, ignore_index=True, sort=False)
# ignoreindex=False se 01012 aise hoga ki org lists ke indices aayende, =True se proper vaale aayenge
# sort=True - columns to be sorted alphabetically in the final DataFrame.

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
# conforming data to a new index or adding/removing rows/columns as per a specified order. Missing values are introduced for any new labels not present in the original data.

import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data, index=[0, 1, 2])

print("Original DataFrame:")
print(df)

# Reindex with new row indices
new_index = [0, 2, 4]
df_reindexed = df.reindex(index=new_index)
print("\nReindexed DataFrame:")
print(df_reindexed)

'''
Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

Reindexed DataFrame:
     A    B
0  1.0  4.0
2  3.0  6.0
4  NaN  NaN
'''

# Reindex columns
new_columns = ['A', 'C']
df_reindexed = df.reindex(columns=new_columns)
print("\nReindexed Columns:")
print(df_reindexed)

'''
Reindexed Columns:
     A   C
0  1.0 NaN
1  2.0 NaN
2  3.0 NaN

'''

'''
DataFrame.reindex(labels=None, index=None, columns=None, axis=None, method=None, fill_value=None, limit=None, tolerance=None)

labels / index: The new index for the rows. Can be a list or array.
columns: The new index for the columns.
axis: 0 or 'index' to reindex rows, 1 or 'columns' to reindex columns.
method: The filling method for missing values.
'ffill' (forward fill): Fill with the previous value.
'bfill' (backward fill): Fill with the next value.
fill_value: Value to set for missing data when no fill method is specified.
inplace: If True, modifies the original DataFrame.
tolerance: Maximum distance between original and new labels for inexact matches. Its used with ffill ya bfill
tolerance=7: Only allow forward filling if the distance between the original index and the new index is less than or equal to 7.

Eg
df = pd.DataFrame({'A': [1, 2, 3]}, index=[10, 20, 30])
new_index = [5, 15, 25]
df_reindexed = df.reindex(index=new_index, method='ffill', tolerance=7)

       A
5    NaN
15   1.0
25   2.0
'''

'''
Align DataFrames:
When merging or comparing two DataFrames with different indices, reindexing can help align them.
Add/Remove Data:
Use reindexing to add missing rows/columns or remove unnecessary ones.
Handle Missing Data:
Introduce missing data intentionally or fill it using methods like forward or backward filling.
'''

In [ ]:
# to remove entire row/column, use drop() function
newdf.drop(0,axis=1)
# here 0 is column name (NOT index)
# default axis is axis=0 (row vaala)

# BUT isse org me change NAHI hoga, for that
newdf = newdf.drop(0,axis=1)
#OR
newdf.drop(0,axis=1,inplace=True)
# usually copy vaale functions me inplace=True karne se they work as 

# after drop to reset index (bcs beech ke r/c gayab)
newdf.reset_index()
#but this adds another column called index which contains original indices. Agar vo nahi chahiye to:
newdf.reset_index(drop=True,inplace=True)

In [73]:
result = newdf.loc[newdf['A']<0.3]
 # Returns rows where column 'A' has values less than 0.3
# this means ki jaha jaha column ki value yeh condition satisfy karta hai, sirf vo vaala dataframe/vo vaale rown return karo

newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]
# Yaha logical AND use hoga - check SS

## Filtering rows where Age is greater than 30
filtered_df = df[df['Age'] > 28]
# print(result)

          A         B         C         D         E   F   G   H  11
3  0.299098  0.612748  0.257399  0.551034  0.317615 NaN NaN NaN NaN

In [74]:
data = {'A': [0.2, 0.5, 0.1], 'C': [0.05, 0.2, 0.15]}
newdf55 = pd.DataFrame(data)

# Logical AND on Series
condition = (newdf55['A'] < 0.3) & (newdf55['C'] > 0.1)
print(condition)

0    False
1    False
2     True
dtype: bool

In [85]:
import pandas as pd
data = {0: [1, 2, 3], 1: [4, 5, 6]} 
dfl = pd.DataFrame(data)

dfl

   0  1
0  1  4
1  2  5
2  3  6

In [53]:
# To remove rows or columns with missing values (NaN/Nat) from a DataFrame or Series.
df.dropna()
# row/column decide karne, use axis = 0/1 OR axis = 'index'/'columns'

# to drop row/column as whole, use 

# We can also use df.dropna(axis=1) to remove columns or df.dropna(subset=[‘Column1’, ‘Column2’]) to drop rows with missing values in specific columns.

# Drop Rows Based on Specific Columns
# Check only column 'A' for NaN values - subset ek hi ho usme how = any/all doesnt really matter bcs ek hi column me check kar rahe hai
result = df.dropna(subset=['A'])

# Keep rows with at least 2 non-NaN values. It overrides the how parameter if specified.
result_thresh = df.dropna(thresh=2)

# Drop rows where any value is NaN - default - ie ek bhi missing value hua to poora row drop
result_any = df.dropna(how='any')
# Drop rows where all values are NaN
result_all = df.dropna(how='all')

# sometimes values may not exactly be Nan and may be custom missing values (ie user ne 'Missing' enter kar diya). So:
# 1. dictionary hai to:
df.replace('Missing',np.nan,inplace=True)
# 2. csv file hai to:
na_vals = ['NA', 'Missing']     #list of custom missing values
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent', na_values=na_vals)


# To fill missing values(NaN) with a specified value, method, or other criteria.
df_filled = df.fillna(0)
df_filled = df.fillna('Missing')
# Forward Fill (method='ffill') - propagates the last valid value forward to fill subsequent missing values (NaNs)
# Subsequent missing values are replaced by the most recent non-missing value that appeared before them in the column (or row, depending on the axis).
# Usi tarah backward fill (method='bfill')

# limit parameter is used in conjunction with either method='ffill' or method='bfill' to restrict the number of missing values to fill. The limit parameter allows you to set a maximum number of consecutive missing values to fill in a given row or column
# Once the limit is reached, the filling stops, and the remaining NaNs will remain unchanged.

# To only replace empty values for one column, specify the column name for the DataFrame:
df["Calories"].fillna(130, inplace = True)
#Also: median() and mode()
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)

df.mean()
# isse poore df (all series) pe lagega - so har numerical series ka median dega
'''
mean/median... me ignoring any NaN values. If a column contains only NaN values, the result for that column will be NaN.
If you set skipna=False, pandas will not ignore NaN values and will return NaN for any column that contains a NaN.

to deal with this, before calc mean/median:
df_filled = df.fillna(0)  # Fill NaN values with 0
mean_filled = df_filled.mean()
'''

# To identify missing values.  It returns a boolean DataFrame or Series, where each value is True if the corresponding value is NaN, and False otherwise.
# isna() YA notna()
# can also check ki koi value na gini gai hai ki nahi (custom na/missing)
df_isna = df.isna()
'''       A      B
0  False  False
1   True  False
2  False   True
'''

KeyError: ['A']

In [ ]:
# abhi lets say we want to find avg in a column
df['YearsCode'].mean()
# isme error dikhaya

df['YearsCoded'].astype(float)
# isse nan managed but 'less than 1 yr is giving error'2to3-script.py

# now we look for unique values in series ki pata chale ki kis kis value ko handle karna hai
df['YearsCoded'].unique()

df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

# abhi kar sakte hai
df['YearsCode'] = df['YearsCode'].astype(float)
df['YearsCode'].mean()

In [ ]:
# Date and Time

df.loc[0,'Date'].day_name()
# 2020-03-13 20:00:00 - proper BUt	2020-03-13 05-PM is incorrect
# yeh error diya...it means ki datetime format me nahi hai

#m1
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d %I-%p ')
# agar ho gaya to nice...agar nai ho paaya to, we need to pass a formatted string telling it ki string kaise format hui hai - check docum
# i is for 12 hr clock and %p is for am/pm
#m2
d_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %I-%p')  # convert string to datetime
df = pd.read_csv('ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser)


df.loc[0,'Date'].day_name()
# date deke, dayname batayega
# poore series ke liye - here we created new column
df['Day'] = df['Date'].dt.day_name()

df['Dates'].min() 
df['Dates'].max()       #most recent date

# we can subtract dates to find time btw them - timedelta return
df['Dates'].max() - df['Dates'].min()


filt = (df['Date']>='2019' & df['Date']<='2020')
# upar stings use kiye but we can use datetimes as well
filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))
df.loc[filt]

df.set_index('Date', inplace=True)
df['2019']
# isse vo automatically 2019 vaale de dega (poora speicfy karne ki zarurat nahi)
'''
Date							
2019-12-31 23:00:00	ETHUSD	128.33	128.69	128.14	128.54	440678.91	Tuesday
2019-12-31 22:00:00	ETHUSD	128.38	128.69	127.95	128.33	554646.02	Tuesday'''


df['2020-01':'2020-02']     # 2nd val is inclusive
# yeh khud se month yr samaj jaayega
df['2020-01':'2020-02']['Close'].mean()

df['2020-01-01']['High'].max()
# if we want to see data on daily basis than hourly basis(hourly is given)
# we wanna see high value of stock by day - check docu
highs = df['High'].resample('D').max() #isse series aayega
highs['2020-01-01']

# to resample mul columns at once
df.resample('W') .mean()
df.resample('W').agg({'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'})

# plotting - within browser
%matplotlib inline

highs.plot()

In [ ]:
filt = (df['Country'] == 'India')
india_df = df.loc[filt]

india_df.to_csv('data/modified.csv')

#tsv me comma ke badle tab seperated...csv me comma seperated 
india_df.to_csv('data/modified.tsv', sep='\t')

india_df.to_excel('data/modified.xlsx')

test = pd.read_excel('data/modified.xlsx', index_col='Respondent')


india_df.to_json('data/modified.json', orient='records', lines=True)
# orient se list like instad of dict like
test = pd.read_json('data/modified.json', orient='records', lines=True)

In [ ]:
data = {'Category': ['A', 'B', 'A', 'B'], 'Value': [10, 20, 30, 40]}
df = pd.DataFrame(data)

'''
  Category  Value
0        A     10
1        B     20
2        A     30
3        B     40
'''

# groupby involves splitting the obj, applying the func, combine results

# Group data by 'Category' and calculate the sum
grouped_sum = df.groupby('Category').sum()
print("Sum:\n", grouped_sum)
'''
Sum:
         Value
Category       
A            40
B            60
'''

grouped_mean = df.groupby('Category')['Value'].mean()
print("\nMean:\n", grouped_mean)
'''
The groupby('Category') groups the data as before.
['Value'] selects the Value column for calculation.
.mean() computes the average for each group.

Mean:
Category
A    20.0
B    30.0
Name: Value, dtype: float64
'''

# .agg() allows applying multiple aggregation functions ('sum' and 'mean') to each group.
grouped_agg = df.groupby('Category').agg(['sum', 'mean'])
print("\nAggregated:\n", grouped_agg)
'''
Aggregated:
           Value       
            sum  mean
Category              
A            40  20.0
B            60  30.0
'''

df.groupby(['country'])
# isse ek obj return 
# groupby breaks data into diff groups
country_grp = df.groupby(['Country'])
country_grp.get_group('India')
# df with saare India vale log in Country

#M2
filt = df['Country'] == 'India'
df.loc[filt]


'''
df.loc[filt]['SocialMedia'].value_counts()
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955

country_grp['SocialMedia'].value_counts()
Country   SM 
Afg       fa  15
          wh  10

Ind       ins 20
          wh  21

country_grp['SocialMedia'].value_counts().head(50)
isse 50 social media apps NOT 50 countries

abhi agar india ke chahiye saare social media apps to:
country_grp['SocialMedia'].value_counts().loc['India']

this is more useful bcs we dont need to run a filter on eveery count individually
'''
country_grp['SocialMedia'].value_counts(normalize=True).loc['China']

country_grp['ConvertedComp'].median().loc['Germany']

# agar ek se zyada func use karne ho to use .agg (aggregate) 
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

# country_grp['ConvertedComp'].agg(['median', 'mean']) - yeh poore df pe lagake series wise dega



# we want to see ki kitne log use python in India
#m1
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()
# df.loc[filt] returns the dataframe to we can see df.loc[filt] as a whole and us_df['column name]
# str.contains() returns True False karke... sum() also works on boolean (true=1,false=0)

'''
isse error aayega - group me apply use karo
country_grp['LanguageWorkedWith'].str.contains('Python').sum()
'''
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())




'''
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
isse pata chalega ki har country me kitne log use python

if you wanna see % country use python ki afg me 10%..
for that 
1. we will find ki har country se total kitne log programming karte hai
country_respondents = df['Country'].value_counts()
United States            20949
India                     9061

2. then see ki kitne log python use karte hai
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
Country
Afghanistan                              8
Albania                                 23

3. now concat them 
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)
NumRespondents	NumKnowsPython
United States	20949	10083
India	9061	3105

4. create new column
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
NumRespondents	NumKnowsPython	PctKnowsPython
United States	20949	10083	48.131176
India	9061	3105	34.267741

can also do
python_df['PctKnowsPython'] = python_df.apply(lambda row: (row['NumKnowsPython'] / row['NumRespondents']) * 100, axis=1)


5. python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)

'''

In [31]:
data = {
    'Date': ['2024-10-01', '2024-10-01', '2024-10-02', '2024-10-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Values': [10, 20, 15, 25]
}
df = pd.DataFrame(data)

'''
        Date Category  Values
0  2024-10-01        A      10
1  2024-10-01        B      20
2  2024-10-02        A      15
3  2024-10-02        B      25
'''

pivot_table = df.pivot_table(values='Values', index='Date', columns='Category', aggfunc='sum')
print(pivot_table)

# aggfunc={'D': "mean", 'E': "mean"})
# 'E': ["min", "max", "mean"]})

'''
Category         A     B
Date                    
2024-10-01    10.0  20.0
2024-10-02    15.0  25.0
'''

'''
Index (Date): Each unique value in the Date column becomes a row in the pivot table.
Columns (Category): Each unique value in the Category column becomes a column in the pivot table.
Values (Values): The Values column is aggregated (summed) for each combination of Date and Category.

values='Values': Specifies the column to aggregate (the Values column).
index='Date': Sets the row labels (Date column).
columns='Category': Sets the column labels (Category column).
aggfunc='sum': Aggregates the values using the sum function.
fill_value=0 (varna Nan)

df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc="sum")
table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0
'''

Category     A   B
Date
2024-10-01  10  20
2024-10-02  15  25

'\nIndex (Date): Each unique value in the Date column becomes a row in the pivot table.\nColumns (Category): Each unique value in the Category column becomes a column in the pivot table.\nValues (Values): The Values column is aggregated (summed) for each combination of Date and Category.\n\nvalues=\'Values\': Specifies the column to aggregate (the Values column).\nindex=\'Date\': Sets the row labels (Date column).\ncolumns=\'Category\': Sets the column labels (Category column).\naggfunc=\'sum\': Aggregates the values using the sum function.\nfill_value=0 (varna Nan)\n\ndf = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",\n                         "bar", "bar", "bar", "bar"],\n                   "B": ["one", "one", "one", "two", "two",\n                         "one", "one", "two", "two"],\n                   "C": ["small", "large", "large", "small",\n                         "small", "large", "small", "small",\n                         "large"],\n                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],\n                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})\ndf\n     A    B      C  D  E\n0  foo  one  small  1  2\n1  foo  one  large  2  4\n2  foo  one  large  2  5\n3  foo  two  small  3  5\n4  foo  two  small  3  6\n5  bar  one  large  4  6\n6  bar  one  small  5  8\n7  bar  two  small  6  9\n8  bar  two  large  7  9\n\ntable = pd.pivot_table(df, values=\'D\', index=[\'A\', \'B\'],\n                       columns=[\'C\'], aggfunc="sum")\ntable\nC        large  small\nA   B\nbar one    4.0    5.0\n    two    7.0    6.0\nfoo one    4.0    1.0\n    two    NaN    6.0\n'

In [ ]:
df = pd.DataFrame({
    'ID': [23, 43, 12, 13, 67, 89, 90, 56, 34],
    'Name': ['Ram', 'Deep', 'Yash', 'Aman', 'Arjun', 'Aditya', 'Akash', 'Chalsea', 'Divya'],
    'Marks': [89, 97, 45, 78, 56, 76, 81, 87, 100],
    'Grade': ['B', 'A', 'F', 'C', 'E', 'C', 'B', 'B', 'A']
})

# Applying melt
melted_df = pd.melt(df, id_vars=['ID', 'Name'], value_vars=['Marks', 'Grade'], var_name='Subject', value_name='Score')

'''
frame: The DataFrame you want to reshape.
id_vars: The columns to keep fixed (i.e., the columns that won't be melted). These are essentially your "identifier" columns.
value_vars: The columns to unpivot (melt). If not specified, it will melt all columns not included in id_vars.
var_name: The name to give the new "variable" column (which will contain the names of the columns being melted).
value_name: The name to give the new "value" column (which will contain the values from the columns being melted).
col_level: If columns are a MultiIndex, this specifies which level to melt.'''

'''
   ID     Name Subject  Score
0  23      Ram   Marks     89
1  43     Deep   Marks     97
2  12     Yash   Marks     45
3  13     Aman   Marks     78
4  67    Arjun   Marks     56
5  89   Aditya   Marks     76
6  90    Akash   Marks     81
7  56  Chalsea   Marks     87
8  34    Divya   Marks    100
9  23      Ram   Grade      B
10 43     Deep   Grade      A
11 12     Yash   Grade      F
12 13     Aman   Grade      C
13 67    Arjun   Grade      E
14 89   Aditya   Grade      C
15 90    Akash   Grade      B
16 56  Chalsea   Grade      B
17 34    Divya   Grade      A
'''

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 88]})

result = pd.merge(df1, df2, on='ID', how='inner')
print(result)

'''
An inner join returns only the rows that have matching keys in both DataFrames.

   ID    Name  Score
0   2     Bob     85
1   3  Charlie     90
'''

result = pd.merge(df1, df2, on='ID', how='outer')
print(result)

'''
An outer join returns all rows from both DataFrames, filling in NaN where there are no matches. can use fill=

   ID    Name  Score
0   1   Alice    NaN
1   2     Bob   85.0
2   3  Charlie   90.0
3   4     NaN   88.0
'''

result = pd.merge(df1, df2, on='ID', how='left')
print(result)

# aise hi how = 'right also works

'''
A left join returns all rows from the left DataFrame and the matching rows from the right DataFrame. If no match is found, NaN is returned for missing values.

   ID    Name  Score
0   1   Alice    NaN
1   2     Bob   85.0
2   3  Charlie   90.0
'''

#  useful when the column names in the two DataFrames being merged are different.
df1 = pd.DataFrame({
    'EmpID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'EmployeeID': [2, 3, 4],
    'Score': [85, 90, 88]
})

result = pd.merge(df1, df2, left_on='EmpID', right_on='EmployeeID', how='inner')
print(result)

'''
   EmpID    Name  EmployeeID  Score
0      2     Bob           2     85
1      3  Charlie           3     90
'''

In [ ]:
# pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, ...)

'''
axis: The axis along which to concatenate.
axis=0 (default): Combine along rows (stacking vertically).
axis=1: Combine along columns (side-by-side).
keys: Adds hierarchical keys to the result, creating a MultiIndex.
'''


#Concatenating Along Rows (Default Behavior)
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = pd.concat([df1, df2])
'''
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

if ignore_index = True
   A  B
0  1  3
1  2  4
2  5  7
3  6  8
'''

#Concatenating Along columns
result = pd.concat([df1, df2], axis=1)
'''
   A  B  A  B
0  1  3  5  7
1  2  4  6  8
'''

# concat along rows matlab columns utne hi rahenge and concat along columns mean rows utne hi rahenge

df3 = pd.DataFrame({'B': [9, 10], 'C': [11, 12]})
result = pd.concat([df1, df3], join='inner')
'''
   B
0  3
1  4
0  9
1 10
'''

# Using keys creates a hierarchical index:
result = pd.concat([df1, df2], keys=['Group1', 'Group2'])
'''
           A  B
Group1 0   1  3
       1   2  4
Group2 0   5  7
       1   6  8
'''

          A  B
Group1 0  1  3
       1  2  4
Group2 0  5  7
       1  6  8

''

In [ ]:
# DataFrames
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [2, 3], 'Score': [85, 90]})


result1 = pd.merge(df1, df2, on='ID', how='inner')
print(result1)

# Concatenate along rows
result2 = pd.concat([df1, df2], ignore_index=True) 
print(result2) 

df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Score': [85, 90]})

result3 = pd.merge(df1, df2, on='ID', how='inner')
print(result3)

'''
   ID Name  Score
0   2  Bob     85

    ID   Name  Score
0  1.0  Alice    NaN
1  2.0    Bob    NaN
2  2.0    NaN   85.0
3  3.0    NaN   90.0

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90
'''

In [27]:
# To remove duplicates - first occurence sirf rahega
df_no_duplicates = df.drop_duplicates()

# How to decide ki kaunse basis/columns pe duplicates hatane hai
# Remove duplicates based on column 'A' and 'B' 
df_no_duplicates_A = df.drop_duplicates(subset=['A','B'])
# so if A and B both are same tabhi hatega


# default for keep is first
# saare hatane ho to (keep=False)
df_no_duplicates_last = df.drop_duplicates(keep='last')

# Remove duplicates and reset the index
df_no_duplicates_reset = df.drop_duplicates(ignore_index=True)


# To discover duplicates, we can use the duplicated() method.
# The duplicated() method returns a Boolean values for each row:
# Returns True for every row that is a duplicate, otherwise False:
print(df.duplicated())

KeyError: Index(['B', 'A'], dtype='object')

In [28]:
# DataFrame.isnull() YA
# Series.isnull() 

# isnull() checks for Nan or None BUT in a pandas DataFrame or Series.
# isnan() is only for Nan AND used with NumPy arrays or pandas Series that contain numerical data.


# The function returns a DataFrame or Series of boolean values (True or False)

print(df.isnull())
print(df['B'].isnull())

   calories  duration
0     False     False
1     False     False
2     False     False

KeyError: 'B'

In [90]:
newdf.loc[:,['B']]=None
newdf.loc[[:],['B']]=None
newdf.loc[[1:2],['B']]=None
newdf.loc[1:2,['B']]=100

# isme slicing me [] mat lagana, so line 2 and 3 are invalid

SyntaxError: invalid syntax (7302043.py, line 2)

In [92]:
# NaT in pandas stands for Not a Time and is used to represent missing or null values in datetime object

df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   toy     2 non-null      object
 2   born    1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 204.0+ bytes

In [96]:
# to count the frequency of unique values in a Series
# It returns a Series where the index is the unique values from the original Series, and the corresponding values are the count of occurrences of each unique value.

df['toy'].value_counts()

# to get frequency of each value ya kitne yes/no ...
data = pd.Series(['a', 'b', 'a', 'c', 'b', 'a', 'a',None])
count = data.value_counts()
print(count)

# Get the relative frequencies - percentages me (normalize=True) - The counts are now proportions of the total (summing to 1). 
normalized_count = data.value_counts(normalize=True)
df['SocialMedia'].value_counts(normalize=True) * 100

# Count values including NaN - varma NaN vale nahi gine jaate
count_with_na = data.value_counts(dropna=False)

# bins ke liye = bins=5 will divide the range into 5 equal intervals
# ya bins=[0, 10, 20, 30] would create 3 bins: (0-10), (10-20), and (20-30).

# sort:
# If True (default), the results are sorted by the counts in descending order.
# If False, it returns the counts in the order the unique values appear.

# The ascending parameter controls the sort order when sorting is enabled (i.e., when sort=True). By default, pandas sorts the data in descending order, but you can change that to ascending order.

# ek column me kitne non-NA (non-missing) entries hai
df['ConvertedComp'].count()
# 0

# isme total rows in a column, including missing values
len(df['ConvertedComp'])
# Count missing values
missing = df['ConvertedComp'].isna().sum()

a    4
b    2
c    1
Name: count, dtype: int64

In [102]:
df.value_counts(dropna=False)

name      toy        born
Alfred    NaN        NaT           1
Batman    Batmobile  1940-04-25    1
Catwoman  Bullwhip   NaT           1
Name: count, dtype: int64

In [101]:
df['toy'].value_counts(dropna=False)

toy
NaN          1
Batmobile    1
Bullwhip     1
Name: count, dtype: int64

In [103]:
df = pd.read_excel('file.xlsx', sheet_name=0) # default is 0, yaha sheetname as string bhi ho sakta hai
# Read multiple sheets (by names or indices)
df_dict = pd.read_excel('file.xlsx', sheet_name=['Sheet1', 'Sheet2'])

# Read specific columns from the Excel file
df = pd.read_excel('file.xlsx', usecols=['A', 'B'])

# Skip the first 2 rows and read the rest
df = pd.read_excel('file.xlsx', skiprows=2)

# Read the data and set a specific column as the index
df = pd.read_excel('file.xlsx', index_col='ID')

# Automatically parse dates in a specific column
df = pd.read_excel('file.xlsx', parse_dates=['DateColumn'])

# Read an Excel file directly from a URL
df = pd.read_excel('https://example.com/file.xlsx')

<bound method DataFrame.std of        name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT>

In [ ]:
# To write to i.e. store in excel file

# If this file does not already exist, it will be created.
dataframe = pd.DataFrame(dct)  
dataframe.to_excel("output.xlsx")
df1.to_excel("output.xlsx", sheet_name='Sheet_name_2')  
# Here new sheet created .If a sheet with this name already exists, it will be replaced unless specified otherwise.
# doubt - baaki ke sheets will be deleted??

#If you wish to write to more than one sheet in the workbook, it is necessary to specify an ExcelWriter object:
df2 = df1.copy()
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

# ExcelWriter can also be used to append to an existing Excel file:
with pd.ExcelWriter('output.xlsx', mode='a') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_name_3')

In [ ]:
X = df[['rm']]:

# This line extracts the column named 'rm' from the DataFrame a and stores it in a new variable X.
# The double square brackets [['rm']] are used to select the column 'rm' as a DataFrame (not a Series). If you wanted to select it as a Series, you could use single square brackets: a['rm'].